<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Modal -->
<div th:fragment="modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户须知 ^_^</h4>
            </div>
            <div class="modal-body">
                &emsp;&emsp;欢迎大家来到本站，为了您的良好体验，如果发现bug请务必联系我，
                您也可以提出对本站的建议，非常感谢，可以扫描<b>首页右下的二维码</b>加我好友，
                顺便交个朋友~
                <br>
                <br>
                &emsp;&emsp;更多功能正在开发中...
            </div>
            <div class="modal-footer">
                <span class="get-source">
                    <b>获取本站源码：</b>
                    <img src="/images/github.svg" class="login-icon">
                    <a href="https://github.com/songjilong/community" target="_blank">GitHub</a>
                    &nbsp;
                    如果对您有帮助，恳请一个<b>star</b>
                </span>
                <obutton type="button" class="btn btn-default" data-dismiss="modal">OK</obutton>
            </div>
        </div>
    </div>
</div>
</html>