body{
    background-image: url("/images/bg.jpg");
}
.main{
    margin: 40px 100px;
    background-color: white;
    box-shadow:10px 10px 10px gray;
    min-height: 700px;
}
.logo{
    font-size: 25px;
    font-style: italic;
    /*text-shadow: grey 10px 10px 4px;*/
}
.search-input{
    background: url("/icons/search-input.svg") no-repeat;
    padding-left: 30px;
}
.btn-publish{
    float: right;
    margin: 15px  0;
}
.user_login_avatar{
    width: 23px;
    height: 23px;
}
.user_avatar{
    width: 40px;
    height: 40px;
}
.question_info{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question_text{
    font-size: 13px;
    color: #999;
}
.page-bar{
    float: right;
}
.page_left{
    border-right: 1px solid #D2D2D2;
}
.page_right{
}
.creator_card{
    margin-top: 20px;
}
.comment_context_section{
    margin-top: 20px;
}
.comment_operating{
    margin-top: 15px;
}
.comment_operating .btn{
    font-size: 15px;
    color: #999;
    margin-left: 10px;
    padding: 0;
}
.comment_operating .oper-btn:hover{
    color: #499EF3;
}
.comment_operating .active{
    color: #499EF3;
}
.comment_operating .time{
    float: right;
}
.comment_count,.comment_commit{
    margin-top: 60px;
}
.comment_cut_line{
    margin-top: 10px;
}
.sub_comments{
    margin: 10px 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px 20px 70px 20px;
}
.related_question_list{
    padding-left: 20px;
}
.tag-style{
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 2.3;
}
.publish-tab-tags{
    margin-top: 15px;
}
.publish-tab-tags .select:hover {
    color: pink;
}
.publish-tag-list{
    margin-top: 15px;
    display: none;
}
.tags-input-div{
    display: flex;
}
.input-tag-btn{
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}
.profile-canEdit{
    margin-left: 10px;
}
.publish-tag-selected{
    background-color: forestgreen;
    cursor: unset;
}
.publish-tag-remove:hover{
    color: red;
}
.reply-list{
    margin: 0 0;
}
.reply-list .time{
    float: right;
}
.footer-word{
    color: #666;
    text-align: center;
    padding: 30px 0 10px;
    font-size: 12px;
}
.img-wecat{
    width: 100%;
}
.one-day-module{
    margin-bottom: 5px;
}
#click-top-btn{
    font-size: 20px;
    top: unset;
    bottom: 20px;
    right: 20px;
    position: fixed;
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
}
#click-top-btn:hover{
    background-color: #aaa;
}
.user-oper-list{
    text-align: center;
    border-radius: 10px;
}
.user-oper-icon{
    width: 20px;
    height: 20px;
}
.nav-title-icon{
    width: 30px;
    height: 30px;
}
.publish-guide-ul{
    display: contents;
}
.publish-guide-li{
    margin-left: 15px;
}