body{
    background-image: url("/img/bg.jpg");
}
.main{
    margin: 40px 100px;
    background-color: white;
    box-shadow:10px 10px 10px gray;
}
.logo{
    font-size: 25px;
    font-style: italic;
    text-shadow: grey 10px 10px 4px;
}
.btn-publish{
    float: right;
    margin: 15px  0;
}
.user_avatar{
    width: 40px;
    height: 40px;
}
.question_info{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question_text{
    font-size: 13px;
    color: #999;
}
.page-bar{
    float: right;
}
.page_left{
    border-right: 1px solid #D2D2D2;
}
.page_right{
}
.creator_card{
    margin-top: 20px;
}
.comment_context_section{
    margin-top: 20px;
}
.comment_operating{
    margin-top: 15px;
}
.comment_operating .btn{
    font-size: 15px;
    color: #999;
    margin-left: 10px;
    padding: 0;
}
.comment_operating .btn:hover{
    color: #499EF3;
}
.comment_operating .active{
    color: #499EF3;
}
.comment_operating .time{
    float: right;
}
.comment_count,.comment_commit{
    margin-top: 60px;
}
.comment_cut_line{
    margin-top: 10px;
}
.sub_comments{
    margin: 10px 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px 20px 70px 20px;
}
.related_question_list{
    padding-left: 20px;
}