body{
    background-color: #EFEFEF;
    background-image: url("/img/bg.jpg");
}
.main{
    margin: 40px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.user_avatar{
    width: 40px;
    height: 40px;
}
.question_info{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.page-bar{
    float: right;
}
.profile .select{
    margin-top: 20px;
}