<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <head th:replace="fragment/import::common"></head>
</head>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>
<div class="error-page">
    <div class="jumbotron">
        <h1 class="display-4">出错啦</h1>
        <br>
        <p class="lead" th:text="${message}">页面出了点问题</p>
        <br>
        <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">回到主页</a>
    </div>
</div>
<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>