<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="top_nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" th:href="@{/}">Beetle</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/search">
                    <div class="form-group">
                        <input type="text" class="form-control search-input" name="search" placeholder="输入问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user == null}" data-toggle="tooltip" data-placement="bottom" title="请先登录">
                        <a href="#">本站源码</a>
                    </li>
                    <li th:if="${session.user != null}" data-toggle="tooltip" data-placement="bottom" title="给个star呗 ♥">
                        <a href="https://github.com/songjilong/community" target="_blank">本站源码</a>
                    </li>
                    <li th:if="${session.user == null}" data-toggle="tooltip" data-placement="bottom" title="请先登录">
                        <a href="#">提问</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a th:href="@{/publish}">提问</a>
                    </li>
                    <li th:if="${session.user != null}" role="presentation">
                        <a href="/profile/replies">消息
                            <span class="badge" th:text="${session.unreadCount}"></span>
                        </a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img th:src="${session.user.avatarUrl}" class="img-rounded user_login_avatar">
                            <span class="caret"></span>
                            <ul class="dropdown-menu user-oper-list">
                                <li>
                                    <a href="#">
                                        <img class="user-oper-icon" src="/icons/person.svg">
                                        我的资料
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/profile/questions}">
                                        <img class="user-oper-icon" src="/icons/question.svg">
                                        我的提问
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/profile/replies}">
                                        <img th:if="${session.unreadCount!=null&&session.unreadCount>0}" class="user-oper-icon" src="/icons/new-message.svg">
                                        <img th:unless="${session.unreadCount!=null&&session.unreadCount>0}" class="user-oper-icon" src="/icons/bell.svg">
                                        最新回复
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/publish}">
                                        <img class="user-oper-icon" src="/icons/cursor.svg">
                                        发起问题
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/logout}">
                                        <img class="user-oper-icon" src="/icons/box-arrow-right.svg">
                                        退出登录
                                    </a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='aeb0d5116950de9541ab',redirect_uri=${#httpServletRequest.getRequestURL()}+'callback',scope='user',state=1)}">登录</a>
                    </li>
                    <li>
                        <img src="/icons/brightness-high.svg" class="nav-title-icon">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>