<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <head th:replace="fragment/import::common"></head>
</head>
<script type="application/javascript">
    const closable = localStorage.getItem("closable");
    if (closable == 1) {
        //关闭
        window.close();
        localStorage.removeItem("closable");
    }
</script>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="page_left col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3>
                <img src="/icons/display.svg" class="nav-title-icon">
                &nbsp;发现
            </h3>
            <hr>
            <!--问题列表-->
            <div th:replace="fragment/question_list::list(false)"></div>
            <!--分页栏-->
            <div th:replace="fragment/page_navigation::nav"></div>
        </div>
        <div class="page_right col-lg-3 col-md-2 col-sm-12 col-xs-12">
            <!--<h4>
                <img src="/icons/tag.svg" class="nav-title-icon">
                热门标签
            </h4>-->
            <!--每日一图一句-->
            <h4>
                <img src="/icons/images.svg" class="nav-title-icon">
                每日一图
            </h4>
            <div class="row one-day-module">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img id="one-day-img">
                        <div class="caption">
                            <p><img src="/icons/calendar.svg">
                            <p class="question_text" id="one-day-time"></p></p>
                            <p id="one-day-text-cn"></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h4>
                <img src="/icons/rooter.svg" class="nav-title-icon">
                联系站长
            </h4>
            <div class="connect-webMaster">
                <img src="/images/wecat1.png" class="img-thumbnail img-wecat">
                <img src="/images/qq2.jpg" class="img-thumbnail img-wecat">
            </div>
        </div>
    </div>
    <div>
        <span class="glyphicon glyphicon-menu-up" id="click-top-btn" onclick="FourLeafCloverZCTopFunc()"></span>
    </div>
</div>
<div th:replace="fragment/notice::modal"></div>
<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>