<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <head th:replace="fragment/import::common"></head>
</head>
<script type="application/javascript">
    const closable = localStorage.getItem("closable");
    if (closable == 1) {
        //关闭
        window.close();
        localStorage.removeItem("closable");
    }
</script>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="page_left col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h3>
                <img src="/icons/display.svg" class="nav-title-icon">
                &nbsp;发现
            </h3>
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="${sortType == null || sortType == 'new' ? 'active' : ''}">
                        <a href="/?sort=new">最新</a>
                    </li>
                    <li role="presentation" th:class="${sortType == 'hot7' ? 'active' : ''}">
                        <a href="/?sort=hot7">7天最热</a>
                    </li>
                    <li role="presentation" th:class="${sortType == 'hot30' ? 'active' : ''}">
                        <a href="/?sort=hot30">30天最热</a>
                    </li>
                    <li role="presentation" th:class="${sortType == 'hot' ? 'active' : ''}">
                        <a href="/?sort=hot">历史最热</a>
                    </li>
                    <li role="presentation" th:class="${sortType == 'no_comment' ? 'active' : ''}">
                        <a href="/?sort=no_comment" class="red">消灭零回复</a>
                    </li>
                </ul>
            </div>
            <!--问题列表-->
            <div th:replace="fragment/question_list::list(false)"></div>
            <!--分页栏-->
            <div th:replace="fragment/page_navigation::nav"></div>
        </div>
        <div class="page_right col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <!--<h4>
                <img src="/icons/images.svg" class="nav-title-icon">
                每日一图
            </h4>
            <div class="row one-day-module">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img id="one-day-img">
                        <div class="caption">
                            <p><img src="/icons/calendar.svg">
                            <p class="question_text" id="one-day-time"></p></p>
                            <p id="one-day-text-cn"></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->
            <h4>
                <img src="/icons/book.svg" class="nav-title-icon">
                每日一文
            </h4>
            <div class="panel panel-warning">
                <div class="panel-heading article-tag">
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <span id="article-title"></span>
                    </span>
                    &nbsp;
                    <span class="label label-warning">
                        <span class="glyphicon glyphicon-user"></span>
                        <span id="article-author"></span>
                    </span>
                </div>
                <div class="panel-body">
                    <p id="article-digest"></p>
                    <a type="button" class="to-right" data-toggle="modal" data-target="#article-read-all" style="cursor:pointer;">
                        阅读全文
                    </a>
                </div>
            </div>
            <hr>
            <h4>
                <img src="/icons/hot.svg" class="nav-title-icon">
                热门标签
            </h4>
            <div class="hot-tag-list">
                <span class="label label-primary tag-style" th:each="tag : ${hotTags}">
                    <a th:href="@{/(tag=${tag})}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${tag}"></span>
                    </a>
                </span>
            </div>
            <hr>
            <h4>
                <img src="/icons/rooter.svg" class="nav-title-icon">
                联系站长
            </h4>
            <div class="connect-webMaster">
                <img src="/images/connectme.png" class="img-thumbnail img-wecat">
            </div>
        </div>
    </div>
</div>
<div>
    <span class="glyphicon glyphicon-menu-up click-top-btn" id="returnTop"></span>
</div>
<!--每日一文模态框-->
<div class="modal fade bs-example-modal-lg" id="article-read-all" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content article-modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-article-title">
                    <img src="/icons/bookmark.svg" class="nav-title-icon">
                </h4>
                <span style="display:flex;" class="to-right">
                    作者：<p id="modal-article-author"></p>&emsp;/&emsp;
                    <span id="modal-article-wc"></span>
                </span>
            </div>
            <div class="modal-body">
                <p id="modal-article-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--模态框-->
<div th:replace="fragment/notice::modal"></div>
<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>