<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<script type="application/javascript">
    const closable = localStorage.getItem("closable");
    if(closable == 1){
        //关闭
        window.close();
        localStorage.removeItem("closable");
    }
</script>
<body>
<!--顶部导航栏-->
<div th:replace="fragment_top_navigation::top_nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="page_left col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;发现</h3>
            <hr>
            <!--问题列表-->
            <div th:replace="fragment_question_list::question_list(false)"></div>
            <!--分页栏-->
            <div th:replace="fragment_page_navigation::page_nav"></div>
        </div>
        <div class="page_right col-lg-3 col-md-2 col-sm-12 col-xs-12">
            <h3>热门标签</h3>
            <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>

            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img id="one-day-img">
                        <div class="caption">
                            <h3>每日一句</h3>
                            <p id="one-day-time"></p>
                            <p id="one-day-text-cn"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>站长微信</h3>
            <img src="/images/wecat1.png" class="img-thumbnail img-wecat">
        </div>
    </div>
</div>
<!--页尾-->
<div th:replace="fragment_footer::beetle_footer"></div>
</body>
</html>