<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">甲壳虫社区</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<!--顶部导航栏-->
<div th:insert="fragment_top_navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="page_left col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3 th:text="${sectionName}">我的提问</h3>
            <hr>
            <!--问题列表-->
            <div th:if="${section} == 'questions'">
                <div th:replace="fragment_question_list::question_list(true)"></div>
            </div>
            <!--通知列表-->
            <div th:if="${section} == 'replies'">
                <div th:replace="fragment_reply_list::reply_list"></div>
            </div>
            <!--分页栏-->
            <div th:replace="fragment_page_navigation::page_nav"></div>
        </div>
        <div class="page_right col-lg-3 col-md-2 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 20px">
                <a th:href="@{/profile/questions}" class="list-group-item" th:classappend="${section.equals('questions')} ?  'active' : ''">
                    我的提问
                </a>
                <a th:href="@{/profile/replies}" class="list-group-item" th:classappend="${section.equals('replies')} ?  'active' : ''">
                    <span class="badge" th:text="${session.unreadCount}">66</span>
                    最新回复
                </a>
            </div>
        </div>
    </div>
</div>
<!--页尾-->
<div th:replace="fragment_footer::beetle_footer"></div>
</body>
</html>