<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布问题</title>
    <head th:replace="fragment/import::common"></head>
    <head th:replace="fragment/import::markdown"></head>
    <head th:replace="fragment/import::markdownEdit"></head>
</head>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="page_left col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3>
                <img src="/icons/cursor.svg" class="nav-title-icon">
                &nbsp;发起
            </h3>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}"/>
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="输入问题标题" autocomplete="off">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题描述（必填，请根据右侧描述填写）</label>
                    <textarea style="display:none;" class="form-control" rows="10" name="description" id="description"
                              th:text="${description}" placeholder="输入问题描述">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="tags_input">添加标签</label>
                    <div class="tags-input-div">
                        <input type="text" class="form-control" id="tags_input" name="tags" placeholder="输入标签，以逗号分隔"
                               th:value="${tags}" autocomplete="off" onclick="showSelectTag()" readonly="readonly">
                        <span class="glyphicon glyphicon-menu-down input-tag-btn" onclick="showSelectTag()"></span>
                        <span class="glyphicon glyphicon-menu-up input-tag-btn" onclick="closeSelectTag()"></span>
                    </div>

                    <!--所有标签-->
                    <div id="tag-list" class="publish-tag-list">
                        <!-- 标签类型 -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="" th:each="tagDto,interStat : ${tagDtos}"
                                th:classappend="${interStat.first} ? 'active' : ''">
                                <a th:href="'#'+${tagDto.categoryName}" aria-controls="home" role="tab" data-toggle="tab"
                                   th:text="${tagDto.categoryName}">
                                </a>
                            </li>
                        </ul>

                        <!-- 标签内容 -->
                        <div class="tab-content publish-tab-tags">
                            <div role="tabpanel" class="tab-pane fade" th:classappend="${interStat.first} ? 'in active' : ''"
                                 th:each="tagDto,interStat : ${tagDtos}" th:id="${tagDto.categoryName}">
                             <span th:each="tag : ${tagDto.tags}">
                                 <span th:id="'all-'+${tag}" class="label label-primary tag-style select">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${tag}"></span>
                                    <span th:id="${tag}" th:text="${tag}" onclick="selectTag(this)" th:data-tag="${tag}"></span>
                                    <span class="glyphicon glyphicon-remove publish-tag-remove" th:id="'remove-'+${tag}" onclick="deleteTag(this)" th:data-tag="${tag}"></span>
                                </span>
                             </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="alert alert-danger" th:if="${error != null}" th:text="" th:id="publish-error"></div>-->
                <button type="submit" class="btn btn-success btn-publish" onsubmit="return checkPublishContent([[${error}]])">发布</button>
            </form>
        </div>
        <div class="page_right col-lg-3 col-md-2 col-sm-12 col-xs-12">
            <h3>
                <img src="/icons/compass.svg" class="nav-title-icon">
                问题发起指南
            </h3>
            <hr>
            <b>※ 如果你希望他人花 1 分钟来解答你的问题，还请耐心花 10 分钟完善你的提问。</b>
            <hr>
            <ul class="publish-guide-ul">
                <li class="publish-guide-li"><b>问题标题:</b> 请用精简的语言描述您发布的问题，不超过25字</li>
                <li class="publish-guide-li"><b>问题补充:</b> 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</li>
                <li class="publish-guide-li"><b>选择标签:</b> 选择最多5个符合题意的标签</li>
            </ul>
            <hr>
        </div>
    </div>
</div>
<div>
    <span class="glyphicon glyphicon-menu-up" id="click-top-btn" onclick="FourLeafCloverZCTopFunc()"></span>
</div>
<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>