<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <head th:replace="fragment/import::common"></head>
</head>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>

<div class="container-fluid main person">
    <div class="row">
        <!--图片-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 person-info-image"></div>
        <!--个人信息-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 person-info-main">
            <div class="person-info">
                <div class="person-avatar">
                    <img th:src="${userInfo.avatarUrl}" class="img-thumbnail">
                </div>
                <div class="person-content">
                    <div>
                        <h3 th:text="${userInfo.name}"></h3>
                        <b th:text="${userInfo.bio == null ? '' : userInfo.bio}"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 person-info-main">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>
                    <img src="/icons/question-square.svg" class="nav-title-icon">&nbsp;
                    [[${session.user != null && session.user.id == userInfo.id ? '我的提问' : 'TA的提问'}]]
                </h3>
                <hr>
                <!--问题列表-->
                <div>
                    <div th:replace="fragment/question_list::list(${session.user != null && session.user.id == userInfo.id ? true : false})"></div>
                </div>
                <!--分页栏-->
                <div th:replace="fragment/page_navigation::nav"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <span class="glyphicon glyphicon-menu-up click-top-btn" id="returnTop"></span>
</div>
<!--顶部须知 模态框-->
<div th:replace="fragment/notice::modal"></div>
<!--聊天室-->
<div th:replace="fragment/chatroom::chatroom"></div>
<!--音乐播放器-->
<div th:replace="fragment/music_player::musicPlyer"></div>
<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>