<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>甲壳虫社区</title>
    <head th:replace="fragment/import::common"></head>
</head>
<body>
<!--顶部导航栏-->
<div th:replace="fragment/top_navigation::nav"></div>

<div class="container-fluid main person">
    <div class="row">
        <!--图片-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 person-info-image"></div>
        <!--个人信息-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 person-info-main">
            <div class="person-info">
                <div class="person-avatar">
                    <img th:src="${userInfo.avatarUrl}" class="img-thumbnail">
                </div>
                <div class="person-content">
                    <div>
                        <h3 th:text="${userInfo.name}"></h3>
                        <h4 th:text="${userInfo.bio == null ? '什么都没留下' : userInfo.bio}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="glyphicon glyphicon-menu-up click-top-btn" id="returnTop"></span>
    </div>
</div>
<div th:replace="fragment/notice::modal"></div>

<!--页尾-->
<div th:replace="fragment/footer::beetle_footer"></div>
</body>
</html>